<script lang="ts">
	// Your selected Skeleton theme:
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	import { computePosition, autoUpdate, offset, shift, flip, arrow } from '@floating-ui/dom';
	import { Drawer, Toast, drawerStore } from '@skeletonlabs/skeleton';
	//import { initializeStores } from '@skeletonlabs/skeleton';
	//import { AppBar } from '@skeletonlabs/skeleton';

	import { storePopup } from '@skeletonlabs/skeleton';
	import gitlablogo from '$lib/assets/gitlab-logo.svg';
	// This contains the bulk of Skeletons required styles:
	import '@skeletonlabs/skeleton/styles/skeleton.css';
	import { AppShell, LightSwitch } from '@skeletonlabs/skeleton';
	import '../app.postcss';
	import { invalidate } from '$app/navigation';
	import { onMount } from 'svelte';
	import Navigation from './Navigation.svelte';
	import Account from './Account.svelte';
	import { userName } from '$lib/stores';
	//import Searchbar from './Searchbar.svelte';

	export let data;
	storePopup.set({ computePosition, autoUpdate, offset, shift, flip, arrow });

	let { supabase, session } = data;
	$: {
		({ supabase, session } = data);
		supabase
			.from('profiles')
			.select('full_name')
			.eq('id', session?.user.id)
			.then((data) => {
				$userName = data?.data?.[0]?.full_name;
			});
	}
	onMount(() => {
		const { data } = supabase.auth.onAuthStateChange((event, _session) => {
			if (_session?.expires_at !== session?.expires_at) {
				invalidate('supabase:auth');
			}
		});

		return () => data.subscription.unsubscribe();
	});
	//initializeStores();

	function drawerOpen(): void {
		drawerStore.open({});
	}
	drawerOpen();

	function navigateToGitlab(): void {
		window.open('https://gitlab.gbar.dtu.dk/inno4vac/compartmentalisation-platform', '_blank');
	}
</script>

<Drawer class="w-40 md:hidden">
	<h2 class="p-4">Navigation</h2>
	<hr />
	<Navigation />
</Drawer>
<Toast />
<AppShell slotSidebarLeft="h-full">
	<!-- <svelte:fragment slot="header">
		<AppBar slotDefault = "place-self-center">
			<svelte:fragment slot="lead">
				<div class="flex items-center">
					<button class="btn btn-sm mr-4 md:hidden" on:click={drawerOpen}>
						<span>
							<svg viewBox="0 0 100 80" class="fill-token w-4 h-4">
								<rect width="100" height="20" />
								<rect y="30" width="100" height="20" />
								<rect y="60" width="100" height="20" />
							</svg>
						</span>
					</button>
					<strong class="text-xl uppercase"><a href="./">Inno4Vac</a></strong>
				</div>
			</svelte:fragment>
			{#if session}
			<Searchbar/>
			{/if}
			<svelte:fragment slot="trail">
				<div class="w-full grid content-center justify-end pr-4">
					<LightSwitch />
				</div>
				{#if session}
					<Account />
				{/if}
			</svelte:fragment>
		</AppBar>
	</svelte:fragment> -->
	<svelte:fragment slot="sidebarLeft">
		{#if session}
			<div id="sidebar-left" class="bg-surface-100-800-token h-screen flex flex-col">
				<div class="flex justify-center p-2 bg-primary-900 mb-4">
					<strong class="text-xl uppercase text-white"><a href="./">c18n Platform</a></strong>
				</div>
				<div class="grow">
					<Navigation />
				</div>
				<div class="grid grid-cols-2 w-full items-center p-2 bg-primary-900">
					<div class="justify-self-start">
						<LightSwitch />
					</div>
					<div class="flex gap-2 justify-self-end">
						<button type="button" class="btn-icon bg-surface-100 w-7 h-7" on:click={navigateToGitlab}>
							<img src={gitlablogo} alt="Gitlab Logo"/>
						</button>
						<Account />
					</div>
				</div>
			</div>
		{/if}
	</svelte:fragment>
	<div class="overflow-y-auto h-screen p-4">
		<slot />
	</div>
</AppShell>
