<script lang="ts">
	import Youtube from "svelte-youtube-embed";
</script>

<div class="mt-4 flex flex-col items-center justify-center">
	<h1 class="h2">Open Source Bio Reactor Modelling Platform</h1>
	<div class="text-start mt-6 w-3/4 bg-white text-black p-6 rounded-md">
		<h3 class="h3">How to use</h3>
		<Youtube id="6WRKAojYN9g" altThumb={true}/>
		<h3 class="h3">Features</h3>
		<p class="mt-2">Currently the platform is in early development, but the following core features are available:</p>
		<ul class="list-disc list-inside mt-2">
			<li>Automated compartmentalisation of bioreactors using provided CFD data. Compartmentalisation can be performed using different algorithms which has been provided by reasearcheers and phd-students at DTU</li>
			<li>Kinetic modelling of bioreactor compartments using flow rate between compartments and volume of compartments. Currently only one kinetic model provid by Cadet is available, but more will come soon.</li>
		</ul>
		<h3 class="h3 mt-6">About</h3>
		<p class="mt-2">Bioprocess modelling is increasing in demand in biomanufacturing and is also considered a crucial part in optimising future vaccine production processes. Computational fluid dynamics (CFD) is one of the modelling techniques that has been applied to bioreactors. However, CFD simulations are computationally demanding and require an expert user. To make CFD more user-friendly, compartmentalisation algorithms for bioreactors can be used. These algorithms retain most of the detailed information on fluid flow in the bioreactor present in a CFD model but yield a compartment model that is much simpler compared to CFD and therefore faster to solve.</p>
		<p>
			To keep up with the high demand for bioprocess modelling and simulation, we aim to provide an open-source platform where researchers can share their algorithms while learning from each other. We hope that creating such a platform will open up new collaborations and encourage discussions about different approaches to bioprocess modelling. 
		</p>
		<p>
			The platform has been developed using TypeScript with SvelteKit for the frontend, to ensure a typesafe and responsive design. The backend is built in Python using FastAPI as a REST API framework. An initial compartment-based scaledown algorithm was implemented in Python and published as a package on PyPI. Supabase is used as a database and authentication provider. Furthermore, a basic postprocessing module has been developed to enable kinetic modelling of the computed compartments. Finally, integration with CADET-Process has been established to provide a framework for kinetic modelling of the compartmentalised bioreactor.
		</p>
	</div>
</div>

