<script lang="ts">
	import { Avatar, type PopupSettings } from '@skeletonlabs/skeleton';
	import { popup } from '@skeletonlabs/skeleton';
	import { userName } from '$lib/stores';

	const popupFeatured: PopupSettings = {
		middleware: {
			offset: {
				crossAxis: -130
			}
		},
		// Represents the type of event that opens/closed the popup
		event: 'click',
		// Matches the data-popup value on your popup element
		target: 'popupFeatured',
		// Defines which side of your trigger the popup will appear
		placement: 'bottom'
	};
</script>

<button use:popup={popupFeatured}>
	<Avatar class="w-7 bg-surface-100" fill="" background="" initials={$userName} />
</button>
<div class="card p-4 w-60 shadow-xl arrow variant-filled space-y-4" data-popup="popupFeatured">
	<span class="font-bold text-lg">{$userName}</span>
	<hr />
	<nav class="list-nav justify-center">
		<ul>
			<li>
				<a href="/account" class="flex justify-center"><span>Account</span></a>
			</li>
			<li>
				<a href="/logout" class="flex justify-center"><span>Log out</span></a>
			</li>
		</ul>
	</nav>
</div>
