<script lang="ts">
	import { page } from '$app/stores';
	const screens: Record<string, string>[] = [
		{
			name: 'Home',
			path: '/',
			isActive: "true"
		},
		{
			name: 'Projects',
			path: '/projects',
			isActive: "false"
		},
		{
			name: 'Teams',
			path: '/teams',
			isActive: "false"
		},
		{
			name: 'Compartmentalisation',
			path: '/compartmentalisation',
			isActive: "true"
		},
		{
			name: 'Kinetics',
			path: '/kinetics',
			isActive: "true"
		}
	];

	$: classesActive = (href: string) =>
		href === $page.url.pathname ? '!bg-primary-active-token !rounded-none' : '!rounded-none';
</script>

<nav class="list-nav">
	<ul>
		{#each screens as screen}
			{#if screen.isActive === "true"}
				<li>
					<a href={screen.path} class={classesActive(screen.path)}>
						{screen.name}
					</a>
				</li>
			{/if}
		{/each}
	</ul>
</nav>
