<div class="input-group input-group-divider grid-cols-[auto_1fr_auto]">
	<div class="input-group-shim"><i class="fa-solid fa-search"/></div>
	<input type="search" placeholder="Search..." />
	<button class="variant-filled">Submit</button>
</div>