<script lang="ts">
	import type { PopupSettings } from '@skeletonlabs/skeleton';
	import { browser } from '$app/environment';
	import { popup } from '@skeletonlabs/skeleton';
	import { goto } from '$app/navigation';

	import { toastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	import Validator from '../../register/Validator.svelte';
	export let form;
	const toast: ToastSettings = {
		message:
			'Your password was updated successfully. You will be redirected to the home page in 5 seconds.',
		background: 'variant-filled-success',
		callback: (response) => {
			if (response.status === 'closed') {
				goto('/');
			}
		},
		timeout: 5000
	};

	$: if (browser && form && form?.success) {
		toastStore.trigger(toast);
	}

	export let isPasswordValid: boolean;
	const popupFocusClick: PopupSettings = {
		event: 'focus-click',
		target: 'popupFocusClick',
		placement: 'right'
	};

	let password = '';
	let confirmPassword = '';
	let errorMessage = '';

	$: if (form?.success) {
		setTimeout(() => {
			goto('/');
		}, 3000);
	}
	$: {
		if (password && confirmPassword && password !== confirmPassword) {
			errorMessage = 'Passwords do not match';
		} else {
			errorMessage = '';
		}
	}
</script>

<div class="flex min-h-full flex-col justify-center px-6 py-12">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<h2 class="mt-10 text-center text-2xl font-bold">Update your password</h2>
	</div>
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" action="#" method="POST">
			<div>
				<div class="flex items-center justify-between">
					<label for="password" class="label">Password</label>
				</div>
				<div class="mt-2">
					<input
						id="password"
						name="password"
						type="password"
						bind:value={password}
						autocomplete="current-password"
						required
						class="form-input w-full rounded-md input"
						placeholder="Enter your password"
						use:popup={popupFocusClick}
					/>
				</div>
			</div>
			<div>
				<div class="flex items-center justify-between">
					<label for="confirmpassword" class="label">Confirm Password</label>
				</div>
				<div class="mt-2">
					<input
						id="confirmpassword"
						name="confirmpassword"
						type="password"
						bind:value={confirmPassword}
						autocomplete="current-password"
						required
						class="form-input w-full rounded-md input"
						placeholder="Confirm your password"
					/>
				</div>
				{#if errorMessage}
					<p class="text-red-500 text-xs italic">{errorMessage}</p>
				{/if}
				<div class="card p-4 variant-filled" data-popup="popupFocusClick">
					<Validator {password} {isPasswordValid} />
					<div class="arrow variant-filled" />
				</div>
			</div>
			<div>
				<button
					type="submit"
					class="flex w-full justify-center rounded-md btn variant-filled"
					disabled={!isPasswordValid && errorMessage !== ''}>Update password</button
				>
			</div>
		</form>
	</div>
</div>
