<script lang="ts">
	import { userName } from '$lib/stores.js';
	import { ProgressRadial, Toast } from '@skeletonlabs/skeleton';

	export let data;
	let { supabase, session } = data;
	$:  ({ supabase, session } = data);
	const name = $userName;
	supabase.auth.signOut();

</script>
<div class ="flex flex-col gap-8 justify-center items-center h-screen">
<div class="text-center text-xl">
	<span>See you next time {name} </span>
</div>
<ProgressRadial stroke={100} meter="stroke-primary-500" track="stroke-primary-500/30" />
</div>
