<script lang="ts">
	import { enhance } from '$app/forms';
	import { InputChip, SlideToggle } from '@skeletonlabs/skeleton';
	import DropdownTags from '../DropdownTags.svelte';

	let isPublic: boolean = false;
	let users: string[] = [];

	export let data;
	export let form;

	const lazyLoadSearch = async (input: string): Promise<string[]> => {
		console.log('beforeclear');
		const { data: SupabaseData, error } = await data.supabase
			.from('profiles')
			.select('username')
			.ilike('username', `${input}%`)
			.limit(20);
		if (error) {
			console.log(error);
			return [];
		}
		return SupabaseData?.map((user) => user.username);
	};
</script>

<div class="flex min-h-full flex-col px-6 py-12">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<h2 class="mt-10 text-center text-2xl font-bold">Create new project</h2>
	</div>

	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" method="POST" action="?/create" use:enhance>
			<div>
				<label for="email" class="label">Name</label>
				<div class="mt-2">
					<input
						id="name"
						name="name"
						type="text"
						class="w-full input"
						placeholder="Enter the name of your project"
						required
					/>
				</div>
			</div>

			<div>
				<label for="description" class="label">Description (optional)</label>
				<div class="mt-2">
					<textarea
						id="description"
						name="description"
						class="w-full input"
						placeholder="Describe your project"
					/>
				</div>
			</div>

			<div>
				<label for="inviteFriends" class="label">Invite collaborators</label>
				<div class="mt-2">
					<DropdownTags {lazyLoadSearch} />
				</div>
			</div>
			<div>
				<SlideToggle id="public" name="isPublic" label="Public" bind:checked={isPublic}
					>Public</SlideToggle
				>
			</div>

			<div>
				<button type="submit" class="flex w-full justify-center rounded-md btn variant-filled"
					>Create project</button
				>
			</div>
		</form>
	</div>
</div>
