<script lang="ts">
    import { Stepper, Step, ProgressRadial } from '@skeletonlabs/skeleton';
    import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';

    import { flow_rate_matrix, volumes, currentstep } from '../kinetics/store.js';

    import ExcelUpload from '../../components/ExcelUpload.svelte';
    import ModelDropdown from './ModelDropdown.svelte';
    import CadetParams from './CadetParams.svelte';
    import ExportButton from './ExportButton.svelte';

    import type { CadetModelKineticReaction, CadetModelTracer, KineticResponse } from './types';

    import { env } from '$env/dynamic/public'

    let selectedKineticModel: string;
    let flow_rate_matrix_file: FileList;
    let flow_rate_matrix_data: Record<string, unknown>[];
    let flow_rate_matrix_headers: string[];
    let volume_file: FileList;
    let volume_data: Record<string, unknown>[];
    let volume_headers: string[];
    
        
    let isLoading = false;
    let resultItem: KineticResponse | undefined;

    let kineticReaction: CadetModelKineticReaction
    let tracer: CadetModelTracer
    let number_of_components: number

    async function process() {
        isLoading = true;
        resultItem = undefined;

        if (volume_data !== undefined && flow_rate_matrix_data !== undefined) {
            $volumes = volume_data.map((row) => row['volume'] as number);
            $flow_rate_matrix = Array<Array<number>>();
            //convert flow rate matrix data to 2d array
            for (let i = 0; i < flow_rate_matrix_data.length; i++) {
                $flow_rate_matrix.push(flow_rate_matrix_data.map((row) => row[`${i}`] as number));
            }
            //convert elements from string to number
            $flow_rate_matrix.forEach((row) => {
                row.forEach((val, i) => {
                    //convert to unknwon
                    let v:unknown = val as unknown;
                    row[i] = parseFloat(v as string);
                });
            });
        }
        let body = {};
        if (selectedKineticModel === 'cadet') {
            if (tracer.compartment_index > 0) {
                tracer.compartment_index -= 1;
            }
            body = {
                modelParams: {
                    flow_rate_matrix: $flow_rate_matrix,
                    volumes: $volumes,
                    number_of_components: number_of_components
                },
                modelTracer: tracer,
                modelKineticReaction: kineticReaction,
            };
        } else {
            alert("Model not implemented yet");
            isLoading = false;
            return;
        }

        try {
            const res = await fetch(`${env.PUBLIC_API_URL}/kinetics/cadet`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            });
            resultItem = (await res.json()) as KineticResponse;
            console.log(resultItem)
        } catch (error){
            console.log(error)
            isLoading = false;
            alert("Error processing request");
        } finally {
            isLoading = false;
        }
    }

    function onResultBack() {
		$currentstep = 2;
		resultItem = undefined
	}

	function onResultReset() {
		$currentstep = 0;
		resultItem = undefined;
        number_of_components = 2;
        kineticReaction = {
            reactants: [0, 1],
            products: [-1, 1],
            k_fwd: 2,
            k_bwd: 1
        };
        tracer = {
            compartment_index: 1,
            concentration: [10, 10],
            injection_duration: 10,
            flow_rate: 0.0001,
            start_time: 0
        };
	}

    function downloadExampleData() {
		const a = document.createElement('a');
        a.setAttribute('style', 'display: none');
        a.href = '/examples/flow_rate_matrix.csv';
        a.setAttribute('download', 'flow_rate_matrix.csv');
        a.click();

        a.setAttribute('style', 'display: none');
        a.href = '/examples/volume.csv';
        a.setAttribute('download', 'volume.csv');
        a.click();
		return
	}
</script>

{#if !resultItem && !isLoading}
<Stepper on:complete={process} start={$currentstep}>
    <Step locked={flow_rate_matrix_data === undefined || flow_rate_matrix_data.length === 0 || 
        volume_data === undefined || volume_data.length === 0}>
        <svelte:fragment slot="header">Upload Data</svelte:fragment>
        <div class="flex justify-end">
            <button class="anchor" on:click={downloadExampleData}>Download Example Data</button>
        </div>
        <p class="h5">Flow Rate Matrix</p>
        <ExcelUpload bind:files={flow_rate_matrix_file} bind:data={flow_rate_matrix_data} bind:headers={flow_rate_matrix_headers} ignoreHeaders={true} />
        <p class="h5">Compartment Volumes</p>
        <ExcelUpload bind:files={volume_file} bind:data={volume_data} bind:headers={volume_headers} ignoreHeaders={false}/>
        <!-- hide back button -->
        <svelte:fragment slot="navigation">
            <div />
        </svelte:fragment>
    </Step>
    <Step>
        <svelte:fragment slot="header">Choose Kinetic Model</svelte:fragment>
        <ModelDropdown bind:selectedModel={selectedKineticModel} />
    </Step>
    <Step buttonCompleteLabel="Process">
        <svelte:fragment slot="header">Choose Parameters</svelte:fragment>
        {#if selectedKineticModel === 'cadet'}
            <CadetParams bind:number_of_components bind:kineticReaction bind:tracer/>
        {:else}
            <p>Not implemented yet</p>
        {/if}
    </Step>
</Stepper>
{:else if resultItem}
    <h1 class="h3 p-2 font-bold">Results</h1>
    <Accordion>
        <AccordionItem open>
            <svelte:fragment slot="summary">Concentration Plots</svelte:fragment>
            <svelte:fragment slot="content">
                <div class="gid place-content-center">
                    <img src={`data:image/png;base64,${resultItem.image}`} alt="Result" />
                </div>
            </svelte:fragment>
        </AccordionItem>
        <AccordionItem>
            <svelte:fragment slot="summary">Concentration over time</svelte:fragment>
            <svelte:fragment slot="content">
                <div class="max-h-96 overflow-auto">
                    <table class="table-auto">
                        <thead>
                            <tr class="sticky bg-surface-900 top-0">
                                <th class="px-4 py-2 text-center outline outline-1">
                                    <p class="mb-2 truncate text-white">Time</p>
                                </th>
                                {#each Object.keys(resultItem.concentration) as header}
                                    {#each Array(number_of_components) as _, index (index)}
                                        <th class="px-4 py-2 text-center outline outline-1">
                                            <p class="mb-2 truncate text-white">{header} ({index})</p>
                                        </th>
                                    {/each}
                                {/each}
                            </tr>
                        </thead>
                        <tbody>
                            {#each resultItem.time as _, i}
                                <tr>
                                    <td class="px-4 py-2 outline outline-1">{resultItem.time[i]}</td>
                                    {#each Object.keys(resultItem.concentration) as header}
                                        {#each Array(number_of_components) as _, index (index)}
                                            <td class="px-4 py-2 outline outline-1">{resultItem.concentration[header][i][index]}</td>
                                        {/each}
                                    {/each}
                                </tr>
                            {/each} 
                        </tbody>
                    </table>
                </div>
            </svelte:fragment>
        </AccordionItem>
    </Accordion>
    <div class="fill flex justify-between mt-4">
		<div class="justify-start">
			<button type="button" class="btn variant-ghost justify-self-start" on:click={onResultBack}>
				Back
			</button>
			<button type="button" class="btn variant-ghost justify-self-start" on:click={onResultReset}
				>Reset</button
			>
		</div>
        <div>
			<ExportButton {resultItem} number_of_components={number_of_components}/>
		</div>
	</div>
{:else if isLoading}
    <h1>Loading Result...</h1>
    <div class="h-52 grid place-content-center">
        <ProgressRadial stroke={120} track="stroke-surface-200" class="w-8" />
    </div>
{/if}

