<script lang="ts">
    import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';

    import type { CadetModelKineticReaction, CadetModelTracer } from './types';

    export let number_of_components = 2;
    export let kineticReaction: CadetModelKineticReaction = {
        reactants: [0, 1],
        products: [-1, 1],
        k_fwd: 2,
        k_bwd: 1
    };
    export let tracer: CadetModelTracer = {
        compartment_index: 1,
        concentration: [10, 10],
        injection_duration: 10,
        flow_rate: 0.0001,
        start_time: 0
    };
    let concentration_string = "10, 10";
    let reactants_string = "0, 1";
    let products_string = "-1, 1";

    $: kineticReaction.reactants = reactants_string.split(",").map((val) => parseInt(val));
    $: kineticReaction.products = products_string.split(",").map((val) => parseInt(val));
    $: tracer.concentration = concentration_string.split(",").map((val) => parseInt(val));

    $: reactantsInvalid = kineticReaction.reactants.some(Number.isNaN);
    $: productsInvalid = kineticReaction.products.some(Number.isNaN);
    $: concentrationInvalid = tracer.concentration.some(Number.isNaN);

    $: listsNotEqualLength = kineticReaction.reactants.length !== kineticReaction.products.length || kineticReaction.reactants.length !== tracer.concentration.length;
    $: errorMessage = reactantsInvalid ? 'Reactants input contains invalid values.' :
                      productsInvalid ? 'Products input contains invalid values.' :
                      concentrationInvalid ? 'Concentration input contains invalid values.' :
                      listsNotEqualLength ? 'All lists must have the same length.' :
                      '';

</script>

<div>
    <Accordion>
        <AccordionItem open>
            <svelte:fragment slot="summary">Kinetic Reaction Parameters</svelte:fragment>
            <svelte:fragment slot="content">
                <div class="grid grid-cols-3 grid-flow-row gap-4">
                    <label class="label" for="numOfComp">
                        <span>Number of components in reaction</span>
                        <input class="input" id="numOfComp" type="number" bind:value={number_of_components} />
                    </label>
                    <label class="label">
                        <span>Indices of reactans (comma seperated)</span>
                        <input class="input" type="text" bind:value={reactants_string} class:input-error={reactantsInvalid || listsNotEqualLength}/>
                    </label>
                    <label class="label" for="inputProducts">
                        <span>Stoichiometric coefficients (comma seperated)</span>
                        <input class="input" id="inputProducts" type="text" bind:value={products_string} class:input-error={productsInvalid || listsNotEqualLength}/>
                    </label>
                    <label class="label" for="inputkfwd">
                        <span>Forward reaction rate</span>
                        <input class="input" id="inputkfwd" type="number" bind:value={kineticReaction.k_fwd} />
                    </label>
                    <label class="label" for="inputkbwd">
                        <span>Backward reaction rate</span>
                        <input class="input" id="inputkbwd" type="number" bind:value={kineticReaction.k_bwd} />
                    </label>
                </div>
                <div class="flex justify-end">
                    <a class="anchor" href="https://cadet-process.readthedocs.io/en/latest/user_guide/process_model/reaction.html#reaction-models-guide" target="_blank">read more</a>
                </div>
            </svelte:fragment>
        </AccordionItem>
        <AccordionItem open>
            <svelte:fragment slot="summary">Tracer Parameters</svelte:fragment>
            <svelte:fragment slot="content">
                <div class="grid grid-cols-3 grid-flow-row gap-4">
                    <label class="label" for="inputCompartmentIndex">
                        <span>Injection Compartment Number</span>
                        <input class="input" id="inputCompartmentIndex" type="number" bind:value={tracer.compartment_index} />
                    </label>
                    <label class="label" for="inputConcentration">
                        <span>Concentration (<i>mM</i>) (comma seperated)</span>
                        <input class="input" id="inputConcentration" type="text" bind:value={concentration_string} class:input-error={concentrationInvalid || listsNotEqualLength}/>
                    </label>
                    <label class="label" for="inputInjectionDuration">
                        <span>Injection Duration (<i>s</i>)</span>
                        <input class="input" id="inputInjectionDuration" type="number" bind:value={tracer.injection_duration} />
                    </label>
                    <label class="label" for="inputFlowRate">
                        <span>Flow Rate (<i>L&sdot;s<sup>-1</sup></i>)</span>
                        <input class="input" id="inputFlowRate" type="number" bind:value={tracer.flow_rate} />
                    </label>
                    <label class="label" for="inputStartTime">
                        <span>Start Time (<i>s</i>)</span>
                        <input class="input" id="inputStartTime" type="number" bind:value={tracer.start_time} />
                    </label>
                </div>
                <div class="flex justify-end">
                    <a class="anchor" href="https://cadet-process.readthedocs.io/en/latest/user_guide/tools/compartment_builder.html#tracers" target="_blank">read more</a>
                </div>
            </svelte:fragment>
        </AccordionItem>
    </Accordion>
    {#if errorMessage}
        <p class="text-error-400">{errorMessage}</p>
    {/if}
</div>