<script lang="ts">
	import type { KineticResponse } from './types';

	export let resultItem: KineticResponse | undefined;
	export let number_of_components: number;
	let isExporting = false;

	function downloadData() {
        isExporting = true;
        try {
            if (resultItem) {
                const result = resultItem as KineticResponse;
                let headers = ['Time'];
                // Create a header for each concentration point
				let keys = Object.keys(result.concentration)
                for (let i = 0; i < keys.length; i++) {
					for (let j = 0; j < number_of_components; j++) {
						headers.push(`${Object.keys(result.concentration)[i]} (${j})`);
					}
                }

				// Build data array for CSV
                const data = result.time.map((time, i) => {
                    let row = [time.toString()];
                    keys.forEach(key => {
                        for (let j = 0; j < number_of_components; j++) {
                            row.push(result.concentration[key][i][j].toString());
                        }
                    });
                    return row;
                });
                
                const csv = buildCSV(headers, data);

                downloadCSV(csv, 'time_and_concentration');
                downloadBase64(result.image, 'concentration_plots');
            }
        } catch (error) {
            console.log(error)
            alert('Error exporting data');
        } finally {
            isExporting = false;
        }
    }

	function buildCSV(headers: string[], data: string[][]) {
		let csv = '';
		if (headers.length > 0) {
			csv += headers.join(',') + '\n';
		}
		data.forEach((row) => {
			csv += row.join(',') + '\n';
		});
		return csv;
	}

	function downloadCSV(csv: string, filename: string) {
		const blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
		const url = URL.createObjectURL(blob);
		const a = document.createElement('a');
		a.setAttribute('style', 'display: none');
		a.setAttribute('href', url);
		a.setAttribute('download', filename + '.csv');
		a.click();
	}

	function downloadBase64(image: string, filename: string) {
		const a = document.createElement('a');
		a.setAttribute('style', 'display: none');
		a.href = 'data:image/png;base64,' + image;
		a.setAttribute('download', filename + '.png');
		a.click();
	}
</script>

<button
	type="button"
	class="btn variant-filled-primary"
	on:click={downloadData}
	disabled={isExporting}
>
	Export Results
</button>
