<script>
	export let selectedModel = 'cadet';
	export let isDisabled = false;
</script>

<select class="select" id="modelSelect" bind:value={selectedModel} disabled={isDisabled}>
	<option value="cadet">CADET-Process</option>
</select>

{#if selectedModel === 'cadet'}
<div class="flex gap-2">
	<span class="badge-icon variant-filled"> ? </span>
	<p>
		Kinetic model provided by
		 <a href="https://cadet.github.io/master/index.html" target="_blank" class="anchor">CADET</a> and 
		 <a href="https://cadet-process.readthedocs.io/en/latest/user_guide/tools/compartment_builder.html" target="_blank" class="anchor">CADET-Process</a>
	</p>
</div>
{/if}
