<script lang="ts">
	import { goto } from '$app/navigation';
	import { Table, tableMapperValues, type TableSource } from '@skeletonlabs/skeleton';
	import { redirect } from '@sveltejs/kit';
	const sourceData = [
		{
			projectName: 'MyFirstProject',
			description: 'This is my first project',
			createdAt: '2021-01-01',
			updatedAt: '2021-01-01'
		}
	];
	const tableStructure: TableSource = {
		head: ['Name', 'Description', 'Created At', 'Updated At'],
		body: tableMapperValues(sourceData, ['projectName', 'description', 'createdAt', 'updatedAt'])
	};

	//create fuunction to handle button click
	function createNewProject() {
		//navigate to new page
		console.log('tst');
		goto('/projects/new');
	}
</script>

<div class="flex justify-end mb-4">
	<button
		type="button"
		class="btn variant-filled-success relative top-0 right-0"
		on:click={createNewProject}>New project</button
	>
</div>
<Table source={tableStructure} interactive={true} on:selected={() => console.log('hey')} />
