<script lang="ts">
	import { InputChip, ListBox, ListBoxItem } from '@skeletonlabs/skeleton';
	export let lazyLoadSearch: (input: string) => Promise<string[]>;
	let input: string = '';
	let valueSingle = 'test';
	let isFocused: boolean = false;
	let searchValues: string[] = [];
	let chosenValues: string[] = [];
	let timer: NodeJS.Timeout;

	let updateSearchValues = () => {
		clearTimeout(timer);
		timer = setTimeout(() => {
			if (input.length > 0) {
				lazyLoadSearch(input).then((result) => {
					searchValues = result.filter((value) => !chosenValues.includes(value));
				});
			} else {
				searchValues = [];
			}
		}, 750);
	};
	let updateChosenValues = (value: string) => {
		if (!chosenValues.includes(value)) chosenValues = [...chosenValues, value];
	};
</script>

<InputChip
	on:focus={() => {
		isFocused = true;
		updateSearchValues();
	}}
	on:blur={() =>
		setTimeout(() => {
			isFocused = false;
		}, 200)}
	bind:input
	name="inviteFriends"
	on:input={() => {
		console.log(input.length);
		updateSearchValues();
	}}
	value={chosenValues}
	allowDuplicates={false}
	validation={() =>
		//check input is in searchValues array and not in chosenValues array
		!chosenValues.includes(input) && searchValues.includes(input)}
/>
<ListBox class="shadow-md">
	{#if isFocused}
		{#each searchValues as value}
			<ListBoxItem
				bind:group={valueSingle}
				name="selectCategory"
				{value}
				on:click={() => {
					updateChosenValues(value); //remove value from searchValues
					searchValues = searchValues.filter((searchValue) => searchValue !== value);
				}}>{value}</ListBoxItem
			>
		{/each}
	{/if}
</ListBox>
