<script lang="ts">
	import type { PopupSettings, ToastSettings } from '@skeletonlabs/skeleton';
	import { popup, toastStore } from '@skeletonlabs/skeleton';

	import Validator from './Validator.svelte';
	import { goto } from '$app/navigation';

	export let form;

	export let isPasswordValid: boolean;
	const popupFocusClick: PopupSettings = {
		event: 'focus-click',
		target: 'popupFocusClick',
		placement: 'right'
	};

	let password = '';
	let confirmPassword = '';
	let errorMessage = '';

	$: {
		if (password && confirmPassword && password !== confirmPassword) {
			errorMessage = 'Passwords do not match';
		} else {
			errorMessage = '';
		}
	}
	const toast: ToastSettings = {
		message:
			'Your account was registered successfully. Check your email for a verification email from supabase.',
		background: 'variant-filled-success'
	};
	$: {
		if (form && form?.success) {
			toastStore.trigger(toast);
		}
	}
</script>

<div class="flex min-h-full flex-col justify-center px-6 py-12">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<img class="mx-auto h-30 w-auto" src="images/Inno4Vaclogo.png" alt="Inno4Vac Logo" />
		<h2 class="mt-10 text-center text-2xl font-bold">Create your account</h2>
	</div>

	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" action="#" method="POST">
			<div>
				<label for="name" class="label">Name</label>
				<div class="mt-2">
					<input
						id="name"
						name="name"
						type="text"
						autocomplete="name"
						class="form-input input w-full rounded-md"
						placeholder="Enter your name"
						required
					/>
				</div>
			</div>

			<div>
				<label for="email" class="label">Email address</label>
				<div class="mt-2">
					<input
						id="email"
						name="email"
						type="email"
						autocomplete="email"
						class="form-input input w-full rounded-md"
						placeholder="Enter your email"
					/>
				</div>
				{#if form?.message == 'pw_nomatch'}
					<p class="text-red-500 text-xs italic">Passwords do not match.</p>
				{/if}
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label for="password" class="label">Password</label>
				</div>
				<div class="mt-2">
					<input
						id="password"
						name="password"
						type="password"
						bind:value={password}
						autocomplete="current-password"
						required
						class="form-input w-full rounded-md input"
						placeholder="Enter your password"
						use:popup={popupFocusClick}
					/>
				</div>
			</div>
			<div>
				<div class="flex items-center justify-between">
					<label for="confirmpassword" class="label">Confirm Password</label>
				</div>
				<div class="mt-2">
					<input
						id="confirmpassword"
						name="confirmpassword"
						type="password"
						autocomplete="current-password"
						required
						class="form-input w-full rounded-md input"
						placeholder="Confirm your password"
					/>
				</div>
				{#if errorMessage}
					<p class="text-red-500 text-xs italic">{errorMessage}</p>
				{/if}
				<div class="card p-4 variant-filled" data-popup="popupFocusClick">
					<Validator {password} {isPasswordValid} />
					<div class="arrow variant-filled" />
				</div>
				<label class="flex items-center space-x-2 mt-4">
					<input class="checkbox" type="checkbox" required />
					<p>
						I accept the <a href="terms" class="text-secondary-500 hover:text-indigo-400"
							>Terms and Conditions</a
						>
					</p>
				</label>
			</div>
			<div>
				<div>
					<button
						type="submit"
						class="flex w-full justify-center rounded-md btn variant-filled"
						disabled={!isPasswordValid && errorMessage !== ''}>Register</button
					>
				</div>

				<p class="mt-10 text-center text-sm text-gray-500">
					Already a member?
					<a href="login" class="font-semibold text-indigo-600 hover:text-indigo-500"
						>Sign in here</a
					>
				</p>
			</div>
		</form>
	</div>
</div>
