<script lang="ts">

    export let password = '';
    export const isPasswordValid = passwordContainsOneDigit(password) && passwordContainsOneLetter(password) && passwordIsAtLeast8CharactersLong(password);


    function passwordContainsOneLetter(psw: string) {
        return /[a-zA-Z]/.test(psw);
    }
    function passwordContainsOneDigit(psw:string) {
        return /[0-9]/.test(psw);
    }
    function passwordIsAtLeast8CharactersLong(psw:string) {
        return psw.length >= 8;
    }
</script>
<p>
    <span class={passwordContainsOneLetter(password) ? 'circle-green' : 'circle-red'}></span>
    Password contains at least one letter
</p>
<p>
    <span class={passwordContainsOneDigit(password) ? 'circle-green' : 'circle-red'}></span>
    Password contains at least one digit</p>

<p>
    <span class={passwordIsAtLeast8CharactersLong(password) ? 'circle-green' : 'circle-red'}></span>
    Password is at least 8 characters long

</p>
<style>
    .circle-green {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        margin-right: 5px;
    }
    .circle-red {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        margin-right: 5px;
    }
</style>