<script lang="ts">
	import { FileDropzone } from '@skeletonlabs/skeleton';
	import { readExcelFile, readCSVFileTo2DArray } from '../utils/readxlsx';

	export let files: FileList;
	export let data: object[];
	export let headers: string[];
	export let isDisabled = false;
	export let ignoreHeaders = false;

	let hasError = false;
	let errorMsg = "";
	async function onChangeHandler(e: Event): Promise<void> {
		try {
			const fileInput = e.target as HTMLInputElement;
			const file = fileInput.files?.[0];
			if (file) {
				let extension: string = getExtension(file.name);
				if (ignoreHeaders && extension === 'csv') {
					data = (await readCSVFileTo2DArray(file)) || [];
					validateData(data);
				} else if (extension === 'xlsx' || extension === 'xls' || extension === 'csv') {
					data = (await readExcelFile(file)) || [];
					validateData(data);
				} else {
					throw new Error('File type not supported');
				}
			}
			// get headers
			headers = [];
			for (const key in data[0]) {
				if (!ignoreHeaders) {
					headers.push(key);
				}
			}
			hasError = false;
		} catch (error:any) {
			data = [];
			hasError = true;
			errorMsg = error.message;
		}
		
	}

	function validateData(data: object[]) {
		if (data.length === 0) {
			throw new Error('No data found in file');
		} else if (data.length > 100000) {
			throw new Error('File size too large');
		}
		return true;
	}

	function getExtension(filename: string) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
</script>
{#if hasError}
	<p class="text-red-500 text-sm">{errorMsg}. To use the bio reactor modelling algorithms without restrictions visit 
		<a href="https://gitlab.gbar.dtu.dk/inno4vac/compartment-based-scaledown-model" target="_blank" class="anchor">gitlab</a>
	</p>
{/if}
<input class="input" type="file" bind:files disabled={isDisabled} on:change={onChangeHandler} name="ExcelUpload"/>