<script lang="ts">
    import { popup } from '@skeletonlabs/skeleton';
    import type { PopupSettings } from '@skeletonlabs/skeleton';
    export let helpText: string;
    export let target: string;

    const paramPopup: PopupSettings = {
        event: 'hover',
        target: target,
        placement: 'top',
    }
</script>

<span class="badge-icon variant-filled" use:popup={paramPopup}> ? </span>
<div class="card p-4 w-72 shadow-md" data-popup={target}>
    <p class="text-sm">{helpText}</p>
</div>