<!-- src/routes/account/+page.svelte -->
<script lang="ts">
	import { enhance } from '$app/forms';
	import type { SubmitFunction } from '@sveltejs/kit';

	export let data;
	export let form;

	let { session, supabase, profile } = data;
	$: ({ session, supabase, profile } = data);

	let profileForm: HTMLFormElement;
	let loading = false;
	let fullName: string = profile?.full_name ?? '';
	let username: string = profile?.username ?? '';
	let avatarUrl: string = profile?.avatar_url ?? '';

	const handleSubmit: SubmitFunction = () => {
		loading = true;
		return async () => {
			loading = false;
		};
	};

	const handleSignOut: SubmitFunction = () => {
		loading = true;
		return async ({ update }) => {
			loading = false;
			update();
		};
	};
</script>

<div class=" flex flex-col justify-center h-screen mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
	{#if session}
		<div class="form-widget">
			<form
				class="form-widget"
				method="post"
				action="?/update"
				use:enhance={handleSubmit}
				bind:this={profileForm}
			>
				<div>
					<label for="email">Email</label>
					<input class="input" id="email" type="text" value={session.user.email} disabled />
				</div>

				<div class="mt-4">
					<label for="fullName">Full Name</label>
					<input
						class="input"
						id="fullName"
						name="fullName"
						type="text"
						value={form?.fullName ?? fullName}
					/>
				</div>

				<div class="mt-4">
					<label for="username">Username</label>
					<input
						class="input"
						id="username"
						name="username"
						type="text"
						value={form?.username ?? username}
					/>
				</div>

				<div class="flex justify-center">
					<button type="submit" class="btn variant-filled-primary mt-4 w-2/3" disabled={loading}
						>Update</button
					>
				</div>
			</form>
		</div>
	{/if}
</div>
