<script lang="ts">
	import { enhance } from '$app/forms';
	import { toastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	export let form;
	const toast: ToastSettings = {
		message: 'A reset link was sent to your email address.',
		background: 'variant-filled-success'
	};
	$: {
		if (form && form?.status === 'success') {
			toastStore.trigger(toast);
		}
	}
</script>

<div class="flex min-h-full flex-col justify-center px-6 py-12">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<a href="/"
			><img class="mx-auto h-30 w-auto" src="images/Inno4Vaclogo.png" alt="Inno4Vac Logo" /></a
		>
		<h2 class="mt-10 text-center text-2xl font-bold">Recover your password</h2>
	</div>
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" method="POST" use:enhance>
			<div>
				<label for="email" class="label">Enter your email to receive a password reset link.</label>
				<div class="mt-2">
					<input
						id="email"
						name="email"
						type="email"
						autocomplete="email"
						class="input w-full"
						placeholder="Enter your email address"
						required
					/>
				</div>
			</div>
			<div>
				<button type="submit" class="flex w-full justify-center rounded-md btn variant-filled"
					>Send password reset email</button
				>
			</div>
		</form>
		{#if form && form.status === 'error'}
			<div class="mt-6">
				<p class="text-sm text-center text-red-500">
					{#if form.message === 'invalid_grant'}
						Invalid email address.
					{:else}
						{form.message}
					{/if}
				</p>
			</div>
		{/if}
	</div>
</div>
