<script lang="ts">
	import { enhance } from '$app/forms';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { toastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	const redirectTo = $page.url.searchParams.get('redirectTo') || '/';
	export let form;

	const toast: ToastSettings = {
		message: 'Successfully logged in.',
		timeout: 3000,
		background: 'variant-filled-success',
		callback: (response) => {
			if (response.status === 'closed') {
				goto(redirectTo);
			}
		}
	};
	$: {
		if (form && form?.success) {
			toastStore.trigger(toast);
		}
	}
</script>

<div class="flex min-h-full flex-col justify-center px-6 py-12">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<a href="/">
			<img class="mx-auto h-30 w-auto" src="images/Inno4Vaclogo.png" alt="Inno4Vac Logo" />
		</a>
		<h2 class="mt-10 text-center text-2xl font-bold">Sign in to your account</h2>
	</div>

	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" method="POST" action="?/login&redirectTo={redirectTo}" use:enhance>
			<div>
				<label for="email" class="label">Email address</label>
				<div class="mt-2">
					<input
						id="email"
						name="email"
						type="email"
						autocomplete="email"
						class="w-full input"
						placeholder="Enter your email address"
						required
					/>
				</div>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label for="password" class="label">Password</label>
					<div class="text-sm">
						<a href="forgot_password" class="font-semibold text-indigo-600 hover:text-indigo-500"
							>Forgot password?</a
						>
					</div>
				</div>
				<div class="mt-2">
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="current-password"
						required
						class="w-full input {form?.error ? 'input-error' : ''}"
						placeholder="Enter your password"
					/>
				</div>
				{#if form?.error}<p class="error">Invalid credentials!</p>{/if}
			</div>

			<div>
				<button type="submit" class="flex w-full justify-center rounded-md btn variant-filled"
					>Sign in</button
				>
			</div>

			<p class="mt-10 text-center text-sm text-gray-500">
				Not a member?
				<a href="register" class="font-semibold text-indigo-600 hover:text-indigo-500"
					>Register here</a
				>
			</p>
		</form>
	</div>
</div>
