<script>
    import { page } from '$app/stores'
</script>

{#if $page.params.error}
    <div class="card mt-4 p-4">
        <h1 class="h3 pb-4">Error</h1>
        <p>{$page.params.error}</p>
    </div>
{/if}Com