<script lang="ts">
	import { Stepper, Step, ProgressRadial } from '@skeletonlabs/skeleton';
	import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';

	import { env } from '$env/dynamic/public'

	import { goto } from '$app/navigation';

	import ModelDropdown from './ModelDropdown.svelte';
	import ModelParamSelector from './ModelParamSelector.svelte';
	import ExcelUpload from '../../components/ExcelUpload.svelte';
	import DataTable from './DataTable.svelte';
	import ExportButton from './ExportButton.svelte';

	import { flow_rate_matrix, volumes, currentstep } from '../kinetics/store.js';

	import type { ModelParam } from './types';
	import type { TannazResponse } from './types';

	let selectedModel: string;
	let files: FileList;
	let fileData: Record<string, unknown>[];
	let headers: string[];
	let selectedParams: Record<string, string> = {};
	let resultItem: TannazResponse | undefined;
	let isLoadingResponse = false;
	let paramList: ModelParam[] = [];
	let stepperStartIndex = 0

	$: fileData, (resultItem = undefined);

	async function process() {
		isLoadingResponse = true;
		// reset result item
		resultItem = undefined;
		// get selected columns
		const x = fileData.map((row) => row[selectedParams['Radial Coordinate']]);
		const y = fileData.map((row) => row[selectedParams['Axial Coordinate']]);
		const vx = fileData.map((row) => row[selectedParams['Radial Veloicity']]);
		const vy = fileData.map((row) => row[selectedParams['Axial Velocity']]);
		// parse to float
		x.forEach((val, i) => (x[i] = parseFloat(val as string)));
		y.forEach((val, i) => (y[i] = parseFloat(val as string)));
		vx.forEach((val, i) => (vx[i] = parseFloat(val as string)));
		vy.forEach((val, i) => (vy[i] = parseFloat(val as string)));
		// build param object
		var params:any = {};
		paramList.forEach((param: ModelParam) => {
			params[param.key] = param.value;
		});
		// build json body
		const body = {
			data: {
				X: x,
				Y: y,
				Vx: vx,
				Vy: vy,
			},
			params: params
		};
		// send request
		try {
			const res = await fetch(env.PUBLIC_API_URL+`/compartmentalise/scaledown/tannaz`, {
				method: 'PUT',
				body: JSON.stringify(body),
				headers: {
					'Content-Type': 'application/json'
				}
			});
			resultItem = (await res.json()) as TannazResponse;
			console.log(resultItem.flow_rate_matrix)
		} catch (error) {
			isLoadingResponse = false;
			alert('Error processing request');
		} finally {
			isLoadingResponse = false;
		}
	}

	function onResultBack() {
		stepperStartIndex = 2;
		resultItem = undefined
	}

	function onResultReset() {
		stepperStartIndex = 0;
		resultItem = undefined;
		selectedParams = {};
	}

	function downloadExampleData() {
		// download xlsx file stored in static/examples/ex1.xlsx
		const a = document.createElement('a');
		a.setAttribute('style', 'display: none');
        
		a.href = '/examples/ex1.xlsx';
		a.setAttribute('download', 'ex1.xlsx');
		a.click();
		return
	}

	function navigateToKinetics() {
        if (resultItem) {
            let temp_flow_rate_matrix: number[][] = [];
            for (let i = 0; i < resultItem.flow_rate_matrix[0].length; i++) {
                temp_flow_rate_matrix.push(resultItem.flow_rate_matrix.map((row) => Number(row[i])));
            }
            $flow_rate_matrix = temp_flow_rate_matrix;
            $volumes = resultItem.volume.map((row) => Number(row[1]));
			$currentstep = 1;
			console.log($flow_rate_matrix)
			console.log($volumes)
			goto('/kinetics');
        }
    }
</script>

{#if !resultItem && !isLoadingResponse}
	<Stepper on:complete={process} start={stepperStartIndex}>
		<Step locked={fileData === undefined || fileData.length === 0}>
			<svelte:fragment slot="header">Upload Data</svelte:fragment>
			<div class="flex justify-end">
				<button class="anchor" on:click={downloadExampleData}>Download Example Data</button>
			</div>
			<ExcelUpload bind:files bind:data={fileData} bind:headers isDisabled={isLoadingResponse} />
			{#if fileData && fileData.length > 0}
				<h2 class="mt-2">Data Preview:</h2>
				<DataTable showDropdown={false} {headers} bind:selectedParams {fileData} />
			{/if}
			<!-- hide back button -->
			<svelte:fragment slot="navigation">
				<div />
			</svelte:fragment>
		</Step>
		<Step locked={selectedModel === undefined}>
			<svelte:fragment slot="header">Select a Models</svelte:fragment>
			<div>
				<h2 class="mb-1">Select Compartmentalisation Model</h2>
				<ModelDropdown bind:selectedModel isDisabled={isLoadingResponse} />
			</div>
		</Step>
		<Step locked={Object.keys(selectedParams).length < 4} buttonCompleteLabel="Process">
			<svelte:fragment slot="header">Select Parameters</svelte:fragment>
			<ModelParamSelector bind:selectedModel bind:paramList />
			<DataTable showDropdown={true} {headers} bind:selectedParams {fileData} />
		</Step>
	</Stepper>
{:else if resultItem}
	<h1 class="h3 p-2 font-bold">Results</h1>
	<Accordion>
		<AccordionItem open>
			<svelte:fragment slot="summary">Zone Overview</svelte:fragment>
			<svelte:fragment slot="content">
				<div class="grid place-content-center">
					<img src={'data:image/png;base64, ' + resultItem.image} alt="Result" />
				</div>
			</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="summary">Grid Info</svelte:fragment>
			<svelte:fragment slot="content">
				<div class="max-h-96 overflow-auto" style="padding: 1px;">
					<table class="table-auto">
						<thead>
							<tr class="sticky bg-surface-900 top-0">
								{#each resultItem.grid_info_headers as header}
									<th class="px-4 py-2 text-center outline outline-1">
										<p class="mb-2 truncate text-white">
											{header}
										</p>
									</th>
								{/each}
							</tr>
						</thead>
						<tbody>
							{#each resultItem.grid_info as row}
								<tr>
									{#each row as cell}
										<td class="px-4 py-2 outline outline-1">{cell}</td>
									{/each}
								</tr>
							{/each}
						</tbody>
					</table>
				</div>
			</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="summary">Volume</svelte:fragment>
			<svelte:fragment slot="content">
				<div class="max-h-96 overflow-auto" style="padding: 1px;">
					<table class="table-auto">
						<thead>
							<tr class="sticky bg-surface-900 top-0">
								{#each resultItem.volume_headers as header}
									<th class="px-4 py-2 text-center outline outline-1">
										<p class="mb-2 truncate text-white">
											{header}
										</p>
									</th>
								{/each}
							</tr>
						</thead>
						<tbody>
							{#each resultItem.volume as row}
								<tr>
									{#each row as cell}
										<td class="px-4 py-2 outline outline-1">{cell}</td>
									{/each}
								</tr>
							{/each}
						</tbody>
					</table>
				</div>
			</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="summary">Flow</svelte:fragment>
			<svelte:fragment slot="content">
				<div class="max-h-96 overflow-auto" style="padding: 1px;">
					<table class="table-auto">
						<tbody>
							{#each resultItem.flow_rate_matrix as row}
								<tr>
									{#each row as cell}
										<td class="px-4 py-2 outline outline-1">{cell}</td>
									{/each}
								</tr>
							{/each}
						</tbody>
					</table>
				</div>
			</svelte:fragment>
		</AccordionItem>
	</Accordion>
	<div class="fill flex justify-between mt-4">
		<div class="justify-start">
			<button type="button" class="btn variant-ghost justify-self-start" on:click={onResultBack}>
				Back
			</button>
			<button type="button" class="btn variant-ghost justify-self-start" on:click={onResultReset}
				>Reset</button
			>
		</div>
		<div>
			<ExportButton {resultItem} />
			<button type="button" class="btn variant-filled-primary" on:click={navigateToKinetics}>
				Proceed to Kinetics</button>
		</div>
	</div>
	{:else if isLoadingResponse}
	<h1>Loading Result...</h1>
	<div class="h-52 grid place-content-center">
		<ProgressRadial stroke={120} track="stroke-surface-200" class="w-8" />
	</div>
	{/if}