<script lang="ts">
	import ParamDropdown from './ParamDropdown.svelte';

	export let showDropdown = false;
	export let headers: string[];
	export let selectedParams: Record<string, string>;
	export let fileData: Record<string, unknown>[];
</script>

<div class="max-h-96 overflow-auto" style="padding: 1px;">
	<table class="table-auto">
		<thead>
			<tr class="sticky bg-surface-900 top-0">
				{#each headers as header}
					<th class="px-4 py-2 text-center outline outline-1">
						<p class="mb-2 truncate text-white">{header}</p>
						{#if showDropdown}
							<ParamDropdown {header} bind:selectedParams/>
						{/if}
					</th>
				{/each}
			</tr>
		</thead>
		<tbody>
			{#each fileData.slice(0, fileData.length > 20 ? 20 : fileData.length - 1) as row}
				<tr>
					{#each headers as header}
						<td class="outline outline-1 px-4 py-2">{row[header]}</td>
					{/each}
				</tr>
			{/each}
		</tbody>
	</table>
</div>
