<script lang="ts">
	import type { TannazResponse } from './types';

	export let resultItem: TannazResponse | undefined;
	let isExporting = false;

	function downloadData() {
		isExporting = true;
		try {
			if (resultItem) {
				let grid_info_csv = buildCSV(resultItem.grid_info_headers, resultItem.grid_info);
				let volume_csv = buildCSV(resultItem.volume_headers, resultItem.volume);
				let flow_csv = buildCSV([], resultItem.flow_rate_matrix)
				downloadCSV(grid_info_csv, 'grid_info');
				downloadCSV(volume_csv, 'volume');
				downloadCSV(flow_csv, 'flow_rate_matrix')
				downloadBase64(resultItem.image, 'zones');
			}
		} catch {
			alert('Error exporting data');
		} finally {
			isExporting = false;
		}
	}

	function buildCSV(headers: string[], data: string[][]) {
		let csv = '';
		if (headers.length > 0) {
			csv += headers.join(',') + '\n';
		}
		data.forEach((row) => {
			csv += row.join(',') + '\n';
		});
		return csv;
	}

	function downloadCSV(csv: string, filename: string) {
		const blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
		const url = URL.createObjectURL(blob);
		const a = document.createElement('a');
		a.setAttribute('style', 'display: none');
		a.setAttribute('href', url);
		a.setAttribute('download', filename + '.csv');
		a.click();
	}

	function downloadBase64(image: string, filename: string) {
		const a = document.createElement('a');
		a.setAttribute('style', 'display: none');
		a.href = 'data:image/png;base64,' + image;
		a.setAttribute('download', filename + '.png');
		a.click();
	}
</script>

<button
	type="button"
	class="btn variant-filled-primary"
	on:click={downloadData}
	disabled={isExporting}
>
	Export Results
</button>
