<script>
	export let selectedModel = '1';
	export let isDisabled = false;
</script>

<select class="select" id="modelSelect" bind:value={selectedModel} disabled={isDisabled}>
	<option value="1">Compartment Based Scaledown (Tannaz)</option>
</select>

{#if selectedModel === '1'}
<div class="flex gap-2 mt-4">
	<span class="badge-icon variant-filled"> ? </span>
	<p>
		Automated approach towards a representative scale-down model using CFD based compartmentalization.
		Read more about this approach <a href="https://backend.orbit.dtu.dk/ws/portalfiles/portal/169968660/Automating_Experimentation_in_Miniaturized_Reactors_Final_thesisprint_samlet_trykfil.pdf" target="_blank" class="anchor">here</a>.
	</p>
</div>
{/if}