<script lang="ts">
    import HelpWithPopUp from "../../components/HelpWithPopUp.svelte";
    import { env } from '$env/dynamic/public'
    import type { ModelParam } from "./types";
    //param list is a list of names for input fields and values
    export let paramList: ModelParam[] = [];
    export let selectedModel: string;
    let helpDict: Record<string, string> = {}

    $: fetchParamsForModel(selectedModel);

    async function fetchParamsForModel(model: string) {
        switch (model) {
            case '1':
                try {
                    await fetch(env.PUBLIC_API_URL + `/compartmentalise/scaledown/tannaz/params`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).
                    then(res => res.json() as Promise<unknown>)
                    .then(data => {
                        if (typeof data === 'object' && data !== null) {
                            paramList = [];
                            for (const key in data) {
                                if (key !== 'help' && Object.prototype.hasOwnProperty.call(data, key)) {
                                    const value = (data as Record<string, unknown>)[key];
                                    paramList.push({key: key, value: value as string});
                                }
                            }
                            helpDict = JSON.parse((data as Record<string, unknown>)['help'] as string) as Record<string, string>;
                        } else {
                            throw new Error('Invalid response');
                        }
                    });
                } catch (e) {
                    console.log(e)
                    alert('Error fetching params');
                }
                break;
            default:
                break;
        }
    }
</script>

<div class="grid grid-cols-4">
    {#each paramList as param}
    <label class="label mr-2 mb-2 text-sm">
        <div class="flex gap-2">
            <span>{param.key}</span>
            <HelpWithPopUp helpText={helpDict[param.key]} target={param.key} />
        </div>
        <input class="input" type="number" bind:value={param.value} />
    </label>
    {/each}
</div>

