<script lang="ts">
    const options = [
        "Undefined",
        "Radial Coordinate",
        "Axial Coordinate",
        "Radial Veloicity",
        "Axial Velocity"
    ];
    export let header: string;
    export let selectedParams: Record<string, string>;
    export let selectedParam = initSelected();

    $: updateSelected(selectedParams);
    $: initSelected();

    function initSelected() {
        for (const key in selectedParams) {
            if (selectedParams[key] === header) {
                return key;
            }
        }
        return "Undefined"
    }

    function updateSelected(selectedParams: Record<string, string>) {
        if (selectedParams[selectedParam] && selectedParams[selectedParam] !== header) {
            selectedParam = "Undefined";
        }
    }

    export const handleChange = () => {
        // remove old header
        for (const key in selectedParams) {
            if (selectedParams[key] === header) {
                delete selectedParams[key];
            }
        }
        // add new header if not undefined
        if (selectedParam !== "Undefined") {
            selectedParams[selectedParam] = header;
        }
    }
</script>

<select class="select min-w-max" id="paramSelect" bind:value={selectedParam} on:change={handleChange}>
    {#each options as option}
        <option value={option}>{option}</option>
    {/each}
</select>